body {
  margin-top: 80px;
  font-family: "Montserrat", sans-serif;
}
header {
  max-width: 520px;
}
i {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 20px;
  font-size: 31px;
  color: white;
}
h1 {
  font-size: 40px;
}
h5,
h2 {
  font-size: 15px;
}
h3 {
  font-size: 15px;
  position: relative;
  left: 110px;
  bottom: 70px;
  height: 0px;
  width: 494px;
  margin-bottom: 0px;
}

.btn {
  padding: 6px 24px;
  border-radius: 0;
}
.weatherApp {
  max-width: 697px;
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
}

.today {
  max-width: 350px;
}
.card-header {
  position: relative;
  height: 40px;
  margin-right: -12px;
  margin-left: -12px;
  background-color: white;
}
#city-time {
  position: relative;
  top: -120px;
  margin-right: 210px;
  color: #9818d6;
  text-transform: uppercase;
}

.todaysWeather .maxTemp {
  position: relative;
  margin: 60px 210px 5px 23px;
  top: 26px;
}

.todaysWeather .minTemp {
  position: relative;
  margin: 0;
  top: 20px;
  left: 35px;
  font-size: 15px;
}

.scale {
  position: relative;
  top: 20px;
  right: 10px;
}

.todaysWeather .icon {
  position: relative;
  left: 170px;
  top: -120px;
  font-size: 120px;
  color: #035aa6;
}
.rainWind {
  position: relative;
  top: -110px;
  padding: 0 10px 0 5px;
  font-size: 13px;
  width: 130px;
}

.umbrellaIcon {
  color: #481380;
}

.rainWind .umbrellaIcon {
  position: relative;
  font-size: 17px;
  left: 0px;
}
.rainWind .windIcon {
  position: relative;
  font-size: 17px;
  margin-left: -20px;
  left: 80px;
  top: 20px;
  right: 5px;
  color: #588da8;
}
.headerFollowingDays {
  background-color: white;
}

.week .card {
  margin-left: -12px;
  margin-right: -12px;
  height: 265px;
}

.followingDays .minMaxTemp {
  position: relative;
  top: 0px;
  padding-top: 40px;
  padding-bottom: 17px;
}
.followingDays .icon {
  color: white;
  position: relative;
  top: 0;
  margin-bottom: 40px;
  margin-top: 0;
}

.rainFollowingDays {
  position: relative;
  top: 30px;
  font-size: 10px;
  text-align: center;
  margin: 0 10px 0 10px;
}
.rainFollowingDays .umbrellaIcon {
  top: 0px;
  font-size: 12px;
  border: thick;
}
.followingDays .minTemp {
  position: relative;
  margin-top: -10px;
  font-size: 11px;
}
.card-header {
  padding: 8px 12px;
}
.card-body {
  padding: 45px 7px;
}
